*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    font-family: 'Source Code Pro', monospace;
    
}


.webgl {
    position: absolute;
    top: 0;
    left: 0;
}

nav {
    color: #0028BE;
    z-index: 3;
    padding: 4rem 8rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 20px;

}

nav a {
    text-decoration: none;
    color: #0028BE;
    transition: 300ms;
    font-size: 30px;
    font-weight: bold;

}

nav a:hover {
    transform: translateY(-25%);
    transition: 300ms;
   
}

nav ul {
    list-style: none;
}

.spin {
    opacity: 0;
}


.containertop {
    position: absolute;
    top: 5%;
    left: 5%;
    width: auto;
    height: min-content;
    z-index: 10;
}

#tag {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: calc(3vw + 3vh);
    color: #0028BE;
    text-decoration: none;
    margin-bottom: 1vh;
    transition: 300ms;
}

#tag:hover {
    font-style: italic;
    text-shadow: 0.6vw 0.6vh 0px #dbff55;
}
